section {
  padding: 0;
}

.container {
  margin: 0;
  width: 100%;
}

.sidebar-container {
  margin: 10px;
  width: 280px;
}

.confirm {
  border: 1px solid #B7DED1;
  background-color: #F4FFFC;
  color: #536171;
  padding: 10px;
  display: none;
}

.error {
  border: 1px solid #D0A2A0;
  background-color: #FBE3E2;
  padding: 10px;
}

.hint {
  font-size: 9pt;
  font-style: italic;
  color: #666;
  background-color: #f8faca;
  border: 1px solid ##858763;
  padding: 2px 1px;
  margin: 0;
}

.debug {
  border: 1px solid #222;
  padding: 0 5px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  background: repeating-linear-gradient(
    45deg,
    #ffdfc4,
    #fff9f2 10px,
    #fff 10px,
    #fff 20px
  );
}

.debug h1 {
  font-size: 12pt;
  font-weight: bold;
  color: black;
  margin: 5px 0px;
}

pre {
  font-family: monospace;
  background-color: #F1F1F1;
  overflow-y: auto;
  max-height: 500px;
  min-height: 100px;
  border: 1px solid #AAA;
  padding: 0;
  margin: 5px 0;
  width: 100%;
}

.debug-actions {
  background: #fff;
  padding: 5px;
  border: 1px dotted darkgrey;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

#auth-link {
  font-size: 1.2em;
  font-weight: bold;
  color: #3d9400;
}

#auth-token-section span {
  font-family: monospace;
  background-color: #F1F1F1;
  color: #D0A2A0;
  overflow-x: auto;
  overflow-y: hidden;
  border: 1px solid #AAA;
  padding: 2px 3px;
}
